@model toDoList.ViewModels.AddTask_To_ToDoList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var p = Model.IDExecutor;
}

<h1>Edit</h1>

<h4>AddTask_To_ToDoList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListTaskID" />
            <div class="form-group" hidden>
                <label asp-for="ToDoListID" class="control-label"></label>
                <input asp-for="ToDoListID" class="form-control" />
                <span asp-validation-for="ToDoListID" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsChecked" /> @Html.DisplayNameFor(model => model.IsChecked)
                </label>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TaskID" class="control-label"></label>
                <input asp-for="TaskID" class="form-control" />
                <span asp-validation-for="TaskID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label">Task Status</label>
                <div class="col-sm-10 font-weight-bold">
                    <select asp-for=" TaskStatus" class="custom-select mr-sm-2"
                            asp-items="@Html.GetEnumSelectList<StatusTask>()">
                        <option value="" class="active">Please Select</option>
                    </select>
                    <span asp-validation-for="TaskStatus" title="Task Status" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IDExecutor" class="control-label"></label>
                <input asp-for="IDExecutor" class="form-control" />
                <span asp-validation-for="IDExecutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ToDoList" asp-action="ShowAllListsToDo" asp-route-for="@p" >Back to List</a>
</div>

