@model toDoClassLibrary.ToDoList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ToDoList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDoListID" />
            <div class="form-group">
                <label asp-for="ToDoListName" class="control-label"></label>
                <input asp-for="ToDoListName" class="form-control" />
                <span asp-validation-for="ToDoListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedToDoListDatetime" class="control-label"></label>
                <input asp-for="CreatedToDoListDatetime" class="form-control" />
                <span asp-validation-for="CreatedToDoListDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalizationDatetime" class="control-label"></label>
                <input asp-for="FinalizationDatetime" class="form-control" />
                <span asp-validation-for="FinalizationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIDCreator" class="control-label"></label>
                <input asp-for="UserIDCreator" class="form-control" />
                <span asp-validation-for="UserIDCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIDExecutor" class="control-label"></label>
                <input asp-for="UserIDExecutor" class="form-control" />
                <span asp-validation-for="UserIDExecutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" asp-controller="ToDoList" 
                        asp-action="edit"
                        asp-route-id="@Model.ToDoListID" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

