@model toDoList.ViewModels.EmpresasViewModel

@{
    ViewData["Title"] = "Edit";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/customscript.js"></script>
<style>
    .aLink {
        color: rgb(82,123,255) !important;
    }

        .aLink:hover {
            color: rgb(82,123,255) !important;
            text-decoration: underline !important;
            cursor: pointer !important;
        }
</style>
<div class="card">
    <div class="card-header">
        <h1 class="card-header">Empresa <stromg>@ViewBag.NomeEmpresa</stromg></h1>
        <hr />
        <a class ="aLink" id="voltarAsEmpresas" onclick="VoltarParaListaEmpresas()">Voltar a lista das empresas</a>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="emresaId" type="hidden" asp-for="EmpresaID" />
            <input id="idCabContabilidade" type="hidden" asp-for="IdCabContabilidade" />
            <input id="isCabContabilidade" type="hidden" asp-for="isCabContabilidade" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input id="nomeEmpresa" asp-for="Nome" class="form-control" />
                <span id="nomeEmpresaSpan" asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIF" class="control-label"></label>
                <input id="nifEmpresa" asp-for="NIF" class="form-control" />
                <span id="nifEmpresaSpan" asp-validation-for="NIF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Licenca" class="control-label"></label>
                <input id="licencaEmp" asp-for="Licenca" class="form-control" />
                <span id="licencaEmpSpan" asp-validation-for="Licenca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrPostos" class="control-label"></label>
                <input id="nrPostLicEmp" asp-for="NrPostos" class="form-control" />
                <span id="nrPostLicEmpSpan" asp-validation-for="NrPostos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrEmpresas" class="control-label"></label>
                <input id="nrEmpresasEmp" asp-for="NrEmpresas" class="form-control" />
                <span id="nrEmpresasEmpSpan" asp-validation-for="NrEmpresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataExpiracao" class="control-label"></label>
                <input id="dtExpLicEmp" type="date" asp-for="DataExpiracao" class="form-control" />
                <span id="dtExpLicEmpSpan" asp-validation-for="DataExpiracao" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DataCriacao" class="control-label"></label>
                <input id="dataCriacao" type="date" asp-for="DataCriacao" class="form-control" />
                <span id="dataCriacaoSpan" asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                @*<input id="btnGuardar" type="submit" value="Guardar" class="btn btn-primary" />*@
                <a id="btnGuardar" class="btn btn-primary">Guardar</a>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a class ="aLink" id="voltarAsEmpresas1" onclick="VoltarParaListaEmpresas()">Voltar a lista das empresas</a>
    </div>
</div>
<script>
    $('#btnGuardar').click(function () {
        var _emresaId = $('#emresaId').val();
        var _idCabContabilidade = $('#idCabContabilidade').val();
        var _isCabContabilidade = $('#isCabContabilidade').val();
        var _nomeEmpresa = $('#nomeEmpresa').val();
        var _nifEmpresa = $('#nifEmpresa').val();
        var _licencaEmp = $('#licencaEmp').val();
        var _nrPostLicEmp = $('#nrPostLicEmp').val();
        var _nrEmpresasEmp = $('#nrEmpresasEmp').val();
        var _dtExpLicEmp = $('#dtExpLicEmp').val();
        var _dataCriacao = $('#dataCriacao').val();
 
        
        var _data = {
            emresaId: _emresaId,
            idCabContabilidade: _idCabContabilidade,
            isCabContabilidade:_isCabContabilidade,
            nomeEmpresa: _nomeEmpresa,
            nifEmpresa: _nifEmpresa,
            licencaEmp: _licencaEmp,
            nrPostLicEmp: _nrPostLicEmp,
            nrEmpresasEmp: _nrEmpresasEmp,
            dtExpLicEmp: _dtExpLicEmp,
            dataCriacao: _dataCriacao,
        };

        // alert(_data);
        $.ajax({
            url: "/Empresa/UpdateCabContabilidadeJson/",
            type: "POST",
            cache: false,
            data: _data,
            success:
                function (data) {
                    if (data.success === true) {
                        RenderWithNoRefresh("/Empresa/Index");
                    };
                    if (data.success === false) {
                        if (data.field === "NomeEmpresa") {
                            $('#nomeEmpresaSpan').text(data.msg);
                            $('#nomeEmpresaSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "NifEmpresa") {
                            $('#NifEmpresaSpan').text(data.msg);
                            $('#NifEmpresaSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "Licenca") {
                            $('#licencaEmpSpan').text(data.msg);
                            $('#licencaEmpSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "NrPostos") {
                            $('#nrPostLicEmpSpan').text(data.msg);
                            $('#nrPostLicEmpSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "NrEmpresas") {
                            $('#nrEmpresasEmpSpan').text(data.msg);
                            $('#nrEmpresasEmpSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "DataExpiracao") {
                            $('#dtExpLicEmpSpan').text(data.msg);
                            $('#dtExpLicEmpSpan').show().css("display", "inline").fadeOut(3000);
                        };
                    };
                },
            error:
                function (xhr) {
                    ProcessError(xhr);
                }
        });

    });
</script>


