@model toDoList.ViewModels.ConConfigViewModel

@{
    ViewData["Title"] = "Criar nova conexão";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var _hostName = ViewBag.HostName;
    var nomeEmpresa = ViewBag.NomeEmpresa;
    var EmpresaId = ViewBag.EmpresaId;
    //EmpresaId
}
<style>
    .aLink {
        color: rgb(82,123,255) !important;
    }

    .aLink:hover {
        color: rgb(82,123,255) !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }
</style>

<h5 id="myEmpresaID" hidden>@EmpresaId</h5>

<div class="card">
    <div class="card-header">
        <h1>Criar nova conexão para empresa: <strong>@nomeEmpresa</strong></h1>
        <h5><strong>@_hostName</strong></h5>     
        <hr />
        <a id="aBackToConnectionList1" class="aLink">Voltar a lista</a>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeServidor" class="control-label"></label>
                <input id="myNomeServidor" asp-for="NomeServidor" class="form-control" />
                <span id="myNomeServidorSpan" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstanciaSQL" class="control-label"></label>
                <input id="myInstanciaSQL" asp-for="InstanciaSQL" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Utilizador" class="control-label"></label>
                <input id="myUtilizador" asp-for="Utilizador" class="form-control" />
                <span id="myUtilizadorSpan" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="myPassword" asp-for="Password" class="form-control" />
                <span id="myPasswordSpan" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-check m-1">
                <input id="myActiveConnection" asp-for="ActiveConnection"  type="checkbox" />
                <label class="form-check-label" asp-for="ActiveConnection"></label>
            </div>
            <div class="form-group">
                <a id="btnGravar" class="btn btn-primary" style="width:auto" >Gravar</a>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a id="aBackToConnectionList" class="aLink">Voltar a lista</a>
    </div>
</div>

<script>
    $('#aBackToConnectionList').click(function () {
        var _id = $('#myEmpresaID').text();
        var b = RenderWithNoRefreshWithData("/ConConfig/Index/", { EmpresaId: _id }, "GET")
    });
    $('#aBackToConnectionList1').click(function () {
        var _id = $('#myEmpresaID').text();
        var b = RenderWithNoRefreshWithData("/ConConfig/Index/", { EmpresaId: _id }, "GET")
    });

    $('#btnGravar').click(function () {
        var _nServer = $('#myNomeServidor').val();
        var _conId = 0
        var _emprId = $('#myEmpresaID').text();
        var _InstanciaSQL = $('#myInstanciaSQL').val();
        var _Utilizador = $('#myUtilizador').val();
        var _Password = $('#myPassword').val();
        var _ActiveConnection = $('#myActiveConnection').val();
        var _data = {
            ConexaoID: _conId,
            EmpresaId: _emprId,
            NomeServidor: _nServer,
            InstanciaSQL: _InstanciaSQL,
            Utilizador: _Utilizador,
            Password: _Password,
            ActiveConnection: _ActiveConnection
        };
        $.ajax({
            url: "/ConConfig/CreateJson",
            type: "post",
            cache: false,
            data: _data,
            success:
                function (data) {
                    if (data.success === true) {
                        RenderWithNoRefreshWithData("/ConConfig/Index/", { EmpresaId: _emprId }, "GET");
                    };
                    if (data.success === false) {
                        if (data.field === "NomeServidor") {
                            $('#myNomeServidorSpan').text(data.msg);
                            $('#myNomeServidorSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "Utilizador") {
                            $('#myUtilizadorSpan').text(data.msg);
                            $('#myUtilizadorSpan').show().css("display", "inline").fadeOut(3000);
                        };
                        if (data.field === "Password") {
                            $('#myPasswordSpan').text(data.msg);
                            $('#myPasswordSpan').show().css("display", "inline").fadeOut(3000);
                        };
                    };
                },
            error:
                function (xhr) {
                    ProcessError(xhr);
                }
        });
    });

    function ProcessError(xhr) {
        var _emprId = $('#myEmpresaID').val();
        var _data = {
            Signal: "notok",
            ErrorTitle: "Erro de atualização!",
            ErrorMessage: "Não foi possível atualizar os dados de conexão no servidor, " +
                " se o erro persistir, entre em contato com o suporte!" + xhr.responseText,
            UrlToRedirect: "/ConConfig/Index/",
            OptionalData: "new { EmpresaId : " + _emprId + " }",
            StringButton: "Voltar para as conexões"
        };

        var c = RenderWithNoRefreshWithData("/Error/GeneralError/", _data, "GET");
    }
</script>





