@model toDoList.ViewModels.ConConfigViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alterar a conexao<strong>@Model.NomeServidor</strong> | Empresa: @Model.EmpresaId</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConexaoID" />
            <input type="hidden" asp-for="EmpresaId" />
            <div class="form-group">
                <label asp-for="NomeServidor" class="control-label"></label>
                <input asp-for="NomeServidor" class="form-control" />
                <span asp-validation-for="NomeServidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstanciaSQL" class="control-label"></label>
                <input asp-for="InstanciaSQL" class="form-control" />
                <span asp-validation-for="InstanciaSQL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utilizador" class="control-label"></label>
                <input asp-for="Utilizador" class="form-control" />
                <span asp-validation-for="Utilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check m-1">
                <input asp-for="ActiveConnection" id="ActiveConnection" type="checkbox" />
                <label class="form-check-label" asp-for="ActiveConnection"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" asp-action="Edit" asp-controller="ConConfig" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="ConConfig" asp-route-EmpresaId="@Model.EmpresaId">Back to List</a>
</div>

